option[value=i] {
    background-color: #ffc41d;
}

option[value=m] {
    background-color: #377eff;
}

option[value=v] {
    background-color: #ff4f12;
}

.team-i {
    background-color: #fffe97;
}

.team-m {
    background-color: #7299ff;
}

.team-v {
    background-color: #ff988e;
}
