{% extends 'base.html' %}
{% block title%}PG-Oeiras - FAQ{% endblock %}
{% block body %}
    <div class="container-fluid">
        <h3>O que é isto?</h3>
        <p>
            Projecto que contém a lista de jogadores de Pokemon GO na zona de Oeiras e os respectivos Códigos de Amigo.
            Qualquer pessoa pode enserir, editar ou apagar entradas da tabela.
        </p>
        <h3>Como é que isto está protegido contra alguém apagar a minha entrada?</h3>
        <p>
            Não é. Podia implementar uns controlos de acesso, mas isso implicava logins e mais passos para se conseguir
            uma coisa que era suposto ser mais simples do que manter a lista na conversa do whatsapp.
            Estou a assumir que a Internet está cheia de pessoas bem intencionadas :D
        </p>
        <h3>Encontrei um erro</h3>
        <p>
            Procura-me numa das conversas de grupo do whatsapp ou mail para <a href="mailto:alexbk00@gmail.com">alexbk00@gmail.com</a>.
            Não vou deixar aqui o meu número directamente porque estou a assumir que a internet está cheia de pessoas mal
            intencionadas...
        </p>
        <h3>Fixe fixe era se isto desse para fazer X</h3>
        <p>
            O mesmo que se faz para reportar erro OU ... <a href="https://gitlab.com/AlexIgnatiev/pgoeiras">https://gitlab.com/AlexIgnatiev/pgoeiras</a>.
            O código está aberto, podem colaborar
        </p>
    </div>
{% endblock %}
