{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_player.css' %}">
{% endblock %}
{% block title %}Player Code List{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-inline">
            {{ form }}
            <button type="submit" id="submit_new_player" class="btn btn-primary mb-2">Submit</button>
            <div id="ok-div" class="alert alert-success" style="display: none">OK</div>
            <div id="error-div" class="alert alert-danger" style="display: none">Error</div>
        </form>
        <a href="{% url "faq" %}">FAQ</a>
        <table id="main-tbl" class="table">
            <thead>
                <tr>
                    <th scope="col">nickname</th>
                    <th scope="col">code</th>
                    <th scope="col">copy</th>
                    <th scope="col">team</th>
                    <th scope="col">level</th>
                </tr>
            </thead>
            <tbody>
            {% for p in players %}
                <tr>
                    <td>{{ p.nickname }}</td>
                    <td>{{ p.code }}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm btn-cpy">
                            <span class="glyphicon glyphicon-copy"></span> Copy
                        </button>
                    </td>
                    <td class="team-{{ p.team }}">{{ p.get_team_display }}</td>
                    <td>{{ p.level }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js_bottom %}
    <script src="{% static 'js/jquery.tabledit.min.js' %}"></script>
    <script>
        $(".btn-cpy").click(function(e) {
            const value = $(this)[0].parentElement.parentElement.children[1].innerText;
            const $temp = $("<input>");
            $("body").append($temp);
            $temp.val(value).select();
            document.execCommand("copy");
            $temp.remove();

        });

        function ok(_nickname, _code, _team, _level) {
            $('#main-tbl tr:last').after(
                '<tr>' +
                    '<td>' + _nickname + '</td>' +
                    '<td>' + _code + '</td>' +
                    '<td></td>' +
                    '<td>' + _team + '</td>' +
                    '<td>' + _level + '</td>' +
                '</tr>'
            );
            $('#ok-div').css('display', 'inline');
        }

        function error_fn() {
            $('#error-div').css('display', 'inline');
        }

        $('#main-tbl').Tabledit({
            url: '/api/submit/',
            columns: {
                identifier: [0, 'nickname'],
                editable: [
                    [1, 'code'],
                    [3, 'team', '{"b": "", "i": "Instinct", "m": "Mystic", "v": "Valor"}'],
                    [4, 'level']
                ]
            }
        });


        $("#submit_new_player").click(function(e) {
            e.preventDefault();
            const nickname = $("#id_nickname").val().replace(/\s/gi,"");
            const code = $("#id_code").val().replace(/\s/gi,"");
            const level = $("#id_level").val().replace(/\s/gi,"");
            const team = $("#id_team").val().replace(/\s/gi,"");
            $.ajax({
                url: "/api/submit/",
                type: "POST",
                data: {
                    "nickname": nickname,
                    "code": code,
                    "team": team,
                    "level": level
                },
                dataType: "json",
                success: function() {ok(nickname, code, team, level);},
                error: error_fn
            });
        });
    </script>
{% endblock %}
